<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forumlaire en Vue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <h1>Ajouter une personne</h1>
        <form id="form" @submit="ajouterPersonne">
            <legend>
                Nom
                <input type="text" v-model="nouveauNom" placeholder="saisir un nom">
            </legend>
            <input type="submit">
        </form>
        <h1>Liste des personnes</h1>
        <div>
            <div v-for="personne in personnes">
                <h2>{{ personne.nom }}</h2>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: "#app",
            data: {
                nouveauNom: undefined,
                afficherPlus: false,
                personnes: []
            },
            methods: {
                ajouterPersonne: function(e) {
                   this.personnes.push({nom: this.nouveauNom})
                   this.nouveauNom = undefined
                    
                   e.preventDefault() // instruction évitant d'envoyer le formulaire côté serveur
                },
            }
        })

        /*
            Documentation de Vue sur les formulaires : https://vuejs.org/v2/guide/forms.html

            Au fur et à mesure de l'ajout des inputs, mettre en forme votre document en vous basant
            sur la documentation https://getbootstrap.com/docs/4.4/components/forms/#layout

            N'hésitez pas aussi à remettre en forme le reste du document

            En ajoutant de nouveaux inputs au formulaire, faire en sorte de créer une personne
            avec les attributs supplémentaires suivant :
                - prénom (input texte)
                - date de naissance (input date)
                - index (input number) -- l'index correspond à unn niveau en golf, il est compris entre -11 et 54
                - une petite biographie (textarea)
                - gaucher, droitier ou les deux (inputs checkbox)
                - le sexe (inputs radio)
                - pays de naissance (inputs text avec datalist)
                - email (input email)
                - région préférée : Amérique du Nord, Amérique Latine, Europe, Asie, Afrique, Océanie (input select mulitple)
                        => il faudra ici stocker ces régions dans un tableau

        */
    </script>
</body>
</html>