<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo en Vue</title>
</head>
<body>
    <div id="app">
        <h1>Todo en Vue</h1>
        <div>
            <input type="text" v-model="newTodo">
            <button @click="addTodo">Ajouter</button>
        </div>
        <ul>
            <li v-for="todo in todos">
                {{todo.label}} <button @click="deleteTodo(todo)">X</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: "#app",
            data: {
                newTodo: '',
                todos: []
            },
            methods: {
                addTodo: function() {
                    console.log("Ajout d'un todo")
                    this.todos.push({id: 1, label: this.newTodo})
                    this.newTodo = ''
                },
                deleteTodo(todo) {
                    console.log("Suppresion en perspective de ", todo.label)
                    // logique de suppression du todo
                }
            }
        })
    </script>
</body>
</html>